<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <title>US Bhajanamritam Index Search</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffa500">

<!--     <meta name="apple-mobile-web-app-title" content="Bhajan Finder">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="orange">
    <link rel="apple-touch-icon-precomposed" href="favicon.jpg">

    <meta name="msapplication-TileImage" content="favicon.jpg">
    <meta name="msapplication-TileColor" content="#ffa500"> -->

    <link rel="icon" href="favicon.jpg">

    <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
    <link rel="stylesheet" href="./angular-material.min.css">
    <style>
      .ui-match { background: orange; }
      .repeated-item {
        border-bottom: 1px solid #ddd;
        height: 80px;
      }
      .repeated-item:last-child {
        border-bottom: none;
      }
      .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
        padding-left: 16px;
      }
    </style>
    <script>
      // Service workers require HTTPS (http://goo.gl/lq4gCo). If we're running on a real web server
      // (as opposed to localhost on a custom port, which is whitelisted), then change the protocol to HTTPS.
      if ((!location.port || location.port == "80") && location.protocol != 'https:') {
        location.protocol = 'https:';
      }
    </script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="bhajans" ng-cloak>
    <div ng-controller="BhajanSearchCtrl">
      <md-content layout="column" md-no-momentum>
        <md-toolbar class="md-hue-2" layout="column">
          <div class="md-toolbar-tools">
            <h2 flex md-truncate>Amma's Bhajans</h2>
            <md-input-container flex="90" style="margin: 0 20px; display:flex; color: white;" md-no-float>
              <input ng-model="query" ng-model-options="{debounce: 200}" type="search" placeholder="Smart Search" autofocus>
            </md-input-container>
          </div>
        </md-toolbar>
        <md-card>
          <md-card-content>
            <md-virtual-repeat-container style="height: calc( 100vh - 120px )" md-auto-shrink>
              <div md-virtual-repeat="bhajanObject in bhajans | filter:closeMatch" class="repeated-item" layout="column" layout-align="center">
                <span ng-bind-html="bhajanObject.bhajan | highlight:query"></span>
              </div>
            </md-virtual-repeat-container>
          </md-card-content>
        </md-card>
      </md-content>

<!--       <table class="table table-striped">
        <thead>
          <tr><th>Bhajan Name ## Volume-Page</th></tr>
        </thead>
        <tr ng-repeat="bhajanObject in bhajans | filter:closeMatch">
          <td ng-bind-html="bhajanObject.bhajan | highlight:query"></td>
          <!-- <td ng-bind-html="bhajan"></td>
        </tr>
      </table> -->
    </div>

    <!-- scripts -->
    <script type='text/javascript' src='angular.js'></script>
    <script type='text/javascript' src="/angular-material.min.js"></script>
    <script type='text/javascript' src="/angular-aria.min.js"></script>
    <!-- <script type='text/javascript' src="/angular-material-icons.min.js"></script> -->
    <script type='text/javascript' src="angular-animate.min.js"></script>
    <script type='text/javascript' src="ngStorage.min.js"></script>
    <script type='text/javascript' src="bhajans.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js');
      }
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54097937-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>

  </html>
