<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>US Bhajanamritam Index Search</title>
    
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        .ui-match { background: yellow; }
    </style>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="bhajans">
<div ng-controller="BhajanSearchCtrl">
    <div class="input-group input-group-lg">
        <input ng-model="query" ng-model-options="{debounce: 200}" type="text" placeholder="Filter by" autofocus class="form-control" />
    </div><!-- /input-group -->

    <table class="table table-striped">
        <thead>
            <tr><th>Bhajan Name ## Volume-Page</th></tr>
        </thead>
        <tr ng-repeat="bhajan in bhajans | filter:query">
            <td ng-bind-html="bhajan | highlight:query"></td>
            <!-- <td ng-bind-html="bhajan"></td> -->
        </tr>
    </table>
</div>

<!-- 
<script type='text/javascript' src='basket.full.min.js'></script>
<script>
basket.require(
    // angular version 1.5.8
    { url: 'angular.min.js', unique: 1 }

).then(function () {
    basket.require(
        { url: 'angular-touch.min.js', unique: 1 },
        { url: 'angular-animate.min.js', unique: 1 },
        { url: 'ngStorage.min.js', unique: 1 }
    );
}).then(function () {
    basket.require({ url: 'bhajans.js', unique: 1 });
});
</script>
 -->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script type='text/javascript' src="ngStorage.min.js"></script>
<script type='text/javascript' src="bhajans.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54097937-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
</body>

</html>
